<!-- Joke Flip Card -->

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p>Space for Joke.</p>
    </div>
    <div class="flip-card-back">
      <h1>Joke Punchline</h1>
    </div>
  </div>
</div>