<!-- Joke Flip Card -->

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <span><h2>{{this.setup}}</h2>
        <br>
        <h5><i>(Click for Punchline)</i></h5>
        </span>
    </div>
    <div class="flip-card-back">
      <span><h2>{{this.punchline}}</h2>
      <br>
      <h5><i>(Click for Setup)</i></h5>
      </span>
    </div>
  </div>
</div>