html, body {
    background-color: #ebebeb;
}

/* The flip card container */
.flip-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 500px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* Position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

/* Card Text */
p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* New Joke Button*/
a {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}